:root {
  --white: #fff;
  --black: black;
  --grey: #353535;
  --blue: #162a38;
  --blue-ligth: #3a6e939f;
  --green: #346361;
  --pink: #D9D9D9;
}


body {
  font-family: sans-serif;
  padding: 20px;
  background-color: var(--pink);
  text-align: center;
}

li,
a {
  text-align: left;
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: var(--green);
}

.card {
  border-radius: 8px;
  box-shadow: 0 0 10px #D9D9D9;
  padding: 15px;
  box-shadow: 5px 5px 10px #162a38;
}

h1,
h2 {
  background: linear-gradient(to bottom, var(--blue-ligth), var(--pink), var(--pink), var(--blue-ligth));
}

main {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-left: 15px;
}